<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="webscheduler.task" class="WebScheduler\Loop\TaskLoop" />
        <loop name="webscheduler.execution" class="WebScheduler\Loop\ExecutionLoop" />
    </loops>

    <forms>
        <form name="webscheduler.task.form" class="WebScheduler\Form\TaskForm" />
    </forms>

</config>
